*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    background-color: #ffffff;
    flex-wrap: wrap;
    width: 34.4%;
    margin-left: 30%;
    margin-top: 10%;
    border: solid 1px #000;
}

.result{
    font-size: 12px;
    color: #676565;
}

button{
    width: 71px;
    padding: 15px 0;
    margin: 1px;
}

.display{
    font-size: 30px;
    padding: 20px 5px 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}